@model CAIROCrons.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.EditorForModel()

    <p>
        <input type="submit" value="Create" />
    </p>
}