# You can configure your scheduler in either   configuration section
# or in quartz properties file
# Configuration section has precedence

quartz.scheduler.instanceName = CARIO_Report_Scheduler

# configure thread pool info
quartz.threadPool.type = Quartz.Simpl.SimpleThreadPool, Quartz
quartz.threadPool.threadCount = 3
quartz.threadPool.threadPriority = Normal

quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.StdAdoDelegate, Quartz

quartz.jobStore.dataSource = myDS
quartz.jobStore.tablePrefix = QRTZ_

quartz.dataSource.myDS.connectionString = Server=127.0.0.1;Database=cron;Uid=min;Pwd=123
quartz.dataSource.myDS.provider = MySql-695
quartz.jobStore.useProperties = true
